body{
    background-color: whitesmoke;
}
header{
    background: url(https://source.unsplash.com/1600x900/?coding) no-repeat center center/cover;
    content: "";
    height: 70%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    
}
.navigation li{ 
   list-style: none;
   margin: 1rem;
   font-size: 1rem;
   /* clear: left; */
   display: flex;
   margin-top: 3px;
   /* flex-direction: column; */
   justify-content: center;
   z-index: 2;
}
nav img{
    height: 4rem;
    width: auto;
    /* display: inline; */
    /* float: left; */
    margin-left: 1rem;
    border-radius: 100%;
    /* filter: invert(100%); */
}
.navigation li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.navigation{
    overflow: auto;
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    float: right;
    /* background-color: black; */
    /* filter: opacity(10%); */
    /* display: block; */
    margin-right: 10rem;
}
#sticky{
    position: sticky;
    top: 0px;
    /* background-color: black; */
    
}
/* #sticky:hover{
    filter: opacity(50%);
    animation-delay: 3s;
    animation-play-state: running;
    transition: ease-out; */
    
}
nav{
    margin-right: 2rem;
}
#search{
    
    margin-top: 10%;
    margin-left: 37%;
    font-size: 2rem;
    opacity: 0.6;
    border-radius: 5%;
    margin-bottom: 285px;
}
#search:hover{
    opacity: 1;
}
#box{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#box div{
    padding: 10%;
    margin: 8px;
    border: black 2px solid;
    /* opacity: 0.6; */
    font-size: 2rem;
    font-weight: 300;
    /* z-index: -1; */
}
#box div div{
    opacity: 1;
    border: none;
}
.bgi1{
    background-image: url(https://source.unsplash.com/1600x900/?computers);
    /* opacity: 0.6; */
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
}

.bgi2{
    background-image: url(https://source.unsplash.com/1600x900/?cpu);
    /* opacity: 0.6; */
    /* text-decoration: none; */
    background-repeat: no-repeat;
    background-size: cover;
}
.bgi3{
    background-image: url(https://source.unsplash.com/1600x900/?keyboard);
    /* opacity: 0.6; */
    /* text-decoration: none; */
    background-repeat: no-repeat;
    background-size: cover;
}
.bgi4{
    background-image: url(https://source.unsplash.com/1600x900/?mouse);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.6; */
    /* text-decoration: none; */
    
}
#box div:hover{
    cursor: pointer;
    opacity: 0.5;   
}
#box div p{
    opacity: 1;
    font-weight: bold;
    color: wheat;
}
/* The pictures and the navigation are above this comment */
h1{
    margin: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
